@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    z-index: 1;
    transition: all 0.5s;
}
.top-project-container{
    height: 600px;
    width: 90%;
    margin: 30px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.title{
    margin: 5px auto;
    width: 90%;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: capitalize;
}
.title h2 span{
    color: #fa4817;
}
.image-box{
    width: 95%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-box img{
    height:100%;
    width: 100%;
    filter: drop-shadow(0 0 5px black);
    border-radius: 4px;
}

.image-box .move{
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-box .move .left{
    font-size: 32px;
    color: #fa4817;
    cursor: pointer;
}
.image-box .move .right{
    color: #fa4817;
    cursor: pointer;
    font-size: 32px;
}
.project-desc{
    margin: 10px auto 0 auto;
    color: gray;
}
.buttons{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.buttons button{
    border: 1px solid #6e4fef;
    padding: 5px 8px;
    border-radius: 4px;
    border:1px solid blue;
}
.buttons button:hover{
    background: #fa4817;
    outline: none;
}